/* Give the whole thing a consistant backgound color */
html, body
{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #F6F6F6;
}

/* Create a constistant header for every page to share */
header {
  top: 0px;
  left: 0px;
  right: 0px;
  margin: 0px;
  padding-left: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #232323;
  color: white;
  text-align: right;
  vertical-align: center;
}

.nav-links {
  color: white;
  text-decoration: none;
  padding-top: 30px;
}

.nav-container {
  padding-top: 15px;
  padding-right: 50px;
}

/* Add nice padding arround content so it's not directly next to the edge */
.content {
  margin: 5%;
}

/* Set customer font which is downloaded in index.html */
.slogan {
  font-family: Lobster;
  color:red;
}

/* Nice div styling for a separate box */
.donations {
  background-color: lightblue;
  color:white;
  border-radius: 5px;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;
}

/* Make lists pretty */
ol {
    list-style-type: none;
    list-style-type: decimal !ie;

    margin: 0;
    margin-left: 3em;
    padding: 0;

    counter-reset: li-counter;
}
ol > li{
    position: relative;
    margin-bottom: 20px;
    padding-left: 0.5em;
    min-height: 3em;
    border-left: 2px solid #CCCCCC;
}
ol > li:before {
    position: absolute;
    top: 0;
    left: -1em;
    width: 0.8em;

    font-size: 3em;
    line-height: 1;
    font-weight: bold;
    text-align: right;
    color: #464646;

    content: counter(li-counter);
    counter-increment: li-counter;
}

/* Make table pretty */
table {
	width:100%;
  border-color: black;
  border-width: 1px;
  border-style: solid;
  text-align: center;
}

th {
	display:flex;
	width:100%;
	background:#000;
	padding:18px;
  color: white;
}

tr {
	display:flex;
	width:100%;
  height: 50px;
}

td {
	display:flex;
	width:100%;
  border-color: black;
  border-width: 1px;
  border-style: solid;
  text-align: center;
}

/* Different colors for different topics */
.issue {
  background-color: #EDEDED;
}

.sa {
  background-color: #FF8484;
}

.a {
  background-color: #FFBD84;
}

.n {
  background-color: #FFFA84;
}

.f {
  background-color: #CEFF84;
}

.sf {
  background-color: #9BFF84;
}

/* Rollover effect */
article {
  transition: all 0.1s;
  margin: 25px;
  color: black;
  background-color: white;
  padding: 25px;
}

article:hover {
  transition: all 0.1s;
  margin: 25px;
  color: black;
  background-color: white;
  padding: 25px;
  font-size: 20px;
}

/* This stuff is overrided in index.html */
blockquote {
  background-color: black;
  color:black;
}
blockquote:before {
  color:black;
}
blockquote p {
  color:black;
  background-color: black;
}

dl {
  background-color: white;
  padding: 15px;
}
