/* Put a background on everything and set a new default font */
html, body {
  margin: 0;
  padding: 0;
  /* Example of typography */
  font-family: sans-serif;
  background-color: #FEF1E6;
}

/* Create a generic header for each page */
header {
  top: 0px;
  left: 0px;
  right: 0px;
  margin: 0px;
  padding-left: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #4a4a4a;
  color: white;
  text-align: right;
  vertical-align: center;
}

.nav-links {
  color: white;
  text-decoration: none;
  padding-top: 30px;
}

.nav-links:hover {
  color:lightgray;
}

.nav-container {
  padding-top: 15px;
  padding-right: 50px;
}

/* Make content have a buffer so it's not right next to the edge of the screen */
.content {
  margin: 0;
  padding: 3%;
  background-color: #FEF1E6;
}

/* Q&A stuff */
.answer {
  background-color: white;
  border-radius: 5px;
  padding: 10px;
}

/* Make code look decent */
#pre {
	width: 100%;
	padding: 0;
  padding-top: 20px;
	margin: 0;
	overflow: auto;
	overflow-y: hidden;
	font-size: 12px;
	line-height: 20px;
	background: white;
	border: 1px solid #777;
}

.sections {
  margin-top: 75px;
}

/* CSS rollover effect */
.section:hover {
  font-size: 16px;
  background-color: #ddd;
  border-radius: 5px;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Give license stuff a standard look */
.license {
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  margin-left: 100px;
  margin-right: 100px;
}

blockquote {
  background-color: #eee;
  text-align: center;
  padding: 25px;
  font-size: 20px;
  font-style: italic;
}
